html{
	padding-top:80px;
	word-wrap:break-word;
	background-color: paleturquoise;
	/* background-color: rgba(114, 198, 41, 0.4); */
  }
  
  *{
	background-color: paleturquoise 
  }
  
  .container{
	background-color: rgb(165, 118, 118);
	width: 49%;
  }
  .home{
	background-color: rgba(120, 67, 167, 0.4);
  }
  #emailHold{
	display: none;
  }
  
  #post{
	width: 500px;
	margin-left: 70%;
  }
  .symptomEntry{
	text-align: center; 
  
	width: 100%;
	font-size: 150%;
	margin-left: 55%;
	font-weight: bold;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .date, .subBtn, .resBtn {
	width: 50%;
	margin-left: 80%;
	margin-top: 1%;
  }
  .top{
	font-weight: bold;
	font-size: 50px;
	color: black;
  }
  
  .messages{
	width: 100%;
	color: black;
	font-size: 17px;
	margin-left: 60%;
  }
  
  button{
	background-color: white;  
  }
  